<html> 
    <head>
        <meta charset="UTF-8">
        <title>LYFT Challenge</title>
        <%# <script src="script.js"></script> %>
        <%= javascript_include_tag "script", "data-turbolinks-track" => true  %>
    </head>
    <body>
        <h1>Find The Third!</h1>
        <ol>
            <li>Type your desired word.</li>
            <li>Hit submit and watch your result appear.</li>
        </ol>
        <div class="form-container">
            <form id="form" method="POST">

            </form>

        </div>
        <div id="result container">
            
            <h3 id="result"></h3>
        </div>
    </body>
</html>
